/* ========================================================================================================================================================
common
======================================================================================================================================================== */

.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  padding-top: 56px;
}
a:link {
  text-decoration: none; /*прибирання підкреслювання для посилань*/
}
ul {
  list-style: none; /*прибирання маркерів елементів списку*/
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  body {
    padding-top: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ========================================================================================================================================================
header
======================================================================================================================================================== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: #ffffff;
}
.header-container {
  display: flex;
  align-items: center;
}
.menu,
.contacts {
  display: none; /*приховує menu,contacts для мобаіл*/
}
.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo .logo-black {
  color: #2e2f42;
}
.navi {
  margin-right: auto;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
}
.icon-burger {
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none; /*приховує бургер для планшету*/
  }
  .navi {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .menu {
    display: flex; /*відображає menu для планшету*/
    gap: 40px;
  }
  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .menu-link {
    position: relative; /*відносне позиціювання*/
  }
  .studio::after {
    /* додатковий клас для стилізації через псевдоелемент */
    content: "";
    position: absolute; /*позіціювання відносно батьківського єлементу "menu-link"*/
    left: 0; /*візуальне зміщення елемента відносно його вихідного положення*/
    bottom: -1px;
    width: 100%; /*ширина по батьківсбкому елементу*/
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .studio {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*плавна зміна кольору(властив_тривал_функц.часу_затримка)*/
  }
  .contacts {
    display: block; /*відображає contacts для планшету*/
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
  }
  .contacts-list {
    display: flex;
    flex-direction: column; /*контакти в стовбчик*/
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contacts-list {
    display: flex;
    flex-direction: row; /*контакти в рядок*/
    gap: 40px;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* ========================================================================================================================================================
mobile-menu
======================================================================================================================================================== */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 99999;
  overflow-y: auto; /*при переповненні контентом буду вертик. скрол*/

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0%);
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  height: 100%;
}
.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  border: 1px solid #e7e9fc;
  fill: #2e2f42;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus {
  color: #404bbf;
}
.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: #404bbf;
}
.color-mobole-menu {
  color: #404bbf;
}
.mobile-social-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .link:hover,
.social-list .link:focus {
  background-color: #404bbf;
}
.icon {
  fill: #f4f4fd;
}
/* ========================================================================================================================================================
hero
======================================================================================================================================================== */
.hero {
  max-width: 1440px;
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
}
.titel-hero {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 216px;
  margin-bottom: 72px;
}
.button {
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1440px;
    min-height: 436px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-tab.jpg);
    padding: 112px 0;
  }

  .titel-hero {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-tab@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office.jpg);
    padding: 188px 0;
  }
  .titel-hero {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office@2x.jpg);
  }
}
/* ========================================================================================================================================================
benefits
======================================================================================================================================================== */
.section {
  padding: 96px 0;
}
.icon-box {
  display: none;
}
.list-benefits {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .list-benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .item-benefits {
    width: 356px;
  }
  .item {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .item-text {
    font-weight: 400;
  }
  .list-benefits {
    display: flex;
    gap: 24px;
  }
  .item-benefits {
    width: calc((100% - 3 * 24px) / 4);
  }
}
/* ========================================================================================================================================================
team
======================================================================================================================================================== */
.back {
  background-color: #f4f4fd;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.team-member {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
}
.info-member {
  padding: 32px 0;
  text-align: center;
}
.member-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.member-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }
}
/* ========================================================================================================================================================
portfolio
======================================================================================================================================================== */
.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.portfolio-item {
  width: 288px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item-info {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.name-item-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-image {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-item {
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 40px;
  }
  .portfolio-item {
    width: 360px;
  }
}
/* ========================================================================================================================================================
footer
======================================================================================================================================================== */
.foot {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}
.logo-footet {
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
}
.logo-white {
  color: #f4f4fd;
}
.footer-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.social-text-foot {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.social-list.foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list.foot .link:focus,
.social-list.foot .link:hover {
  background-color: #31d0aa;
}
.subscribe-text {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
  margin-bottom: 16px;
}
.subscribe-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: transparent;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  outline: transparent;
  margin-bottom: 16px;
}
.subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
}
.icon-subscribe-button {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .foot {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding-left: 108px;
  }
  .logo-footet,
  .social-text-foot,
  .subscribe-text {
    text-align: left;
  }
  .subscribe-input {
    width: 264px;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .page-footer {
  }
  .foot {
    display: flex;
    gap: 0;
    padding: 100px 15px 100px 15px;
  }
  .device-foot {
    margin-right: 120px;
  }
  .social-container {
    margin-right: 80px;
  }
}
/* ========================================================================================================================================================
modal
======================================================================================================================================================== */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  overflow-y: auto;
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  fill: #2e2f42;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close:hover,
.modal-btn-close:focus {
  border: none;
  fill: #ffffff;
  background-color: #404bbf;
}
.form-strip {
  margin-bottom: 8px;
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form-item {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .form-icon {
  fill: #4d5ae5;
}
.coment-margin {
  margin-bottom: 16px;
}
.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-checkbox {
  margin-bottom: 24px;
  display: flex;
}
.check-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 8px;
}
.check-mark {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
  flex-shrink: 0;
}
.check-input:checked + .check-label .check-mark {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-input:focus + .check-label .check-mark {
  outline: 2px solid rgba(0, 0, 0, 1);
}
.text-modal-privacy {
  /* width: 100%; */
}
a.link-privacy-policy {
  display: inline;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.btn-modal {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
